

.text_area {
    margin-top: 30px;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #cebdbd;
    border-radius: 25px;
}

.header {
    margin-bottom: 30px;
    background-color: #f3e4e4;
    padding: 20px;
    /* border-radius: 25px; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


