.display {
    display: flex;
    margin: 0px auto;
    width: 500px;
    align-items: left;

} 

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 3px auto;
    padding: 10px;
    border: 1px solid #d7b5b5 ;
    border-radius: 10px;
    background-color: #f3e4e4;
    width: 400px;
    height: 50px;
    box-shadow: 5px 5px 8px black;
    
}

.todo:hover {
    /* box-shadow: 5px 5px 10px white; */
    box-shadow: 5px 5px 15px black;
}

.todo_sel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px auto;
    padding: 10px;
    border: 1px solid #4e524d ;
    border-radius: 10px;
    background-color: #4e524d;
    width: 400px;
    height: 50px;
    box-shadow: 5px 5px 8px black;
    color: #fff;
    
    
}

.todo_sel:hover {
    box-shadow: 5px 5px 15px black;
}

.todoIcon {
    font-size: 2rem;
    width: 60px;

}

.todoIcon2 {
    font-size: 50px;
    width: 60px;
}

.todoIcon3 {
    font-size: 2rem;


}


.text_todo {
    width: 215px;
    /* height: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;

}

.subTodoSecond {
    margin-left: 100px; 
}

.subTodoFirst {

    margin-left: -100px; 
}

span {
    /* margin-left: 20px; */
}

.inputTodo {
    margin-left: 30px;
    /* width: 150px; */
    /* size: 150px; */
    /* font-size: 150px;*/
    transform: scale(2) 
}


